body {
/*    background-image: linear-gradient(35deg, #00009a, #b300b3);*/
/*	background: linear-gradient(35deg, #000046, #1cb5e0);*/
/*    background: linear-gradient(35deg, #200122, #6f0000);*/
/*    background: linear-gradient(215deg, #1488cc, #2b32b2);*/
    /*background: linear-gradient(35deg, #000000, #083a8c);*/
/*    background-image: linear-gradient(45deg,#0a1855 0,#da0024 100%);*/
    background: linear-gradient(to right, #0575e6, #021b79);
    background-position: center;
    background-attachment: fixed;
    /*font-size: 1.25rem;*/
}

#navbar {
    background-color: rgba(255,255,255,0.4);
}

#particles-js {
	width: 100%;
	height: 100%;
	background-image: background-image: linear-gradient(35deg, #00009a, #b300b3);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: fixed;
}

#nobg {
	z-index: 100;
}

#page {
    z-index: 3;
}

.jumbotron {
    z-index: 200;
    position: relative;
}

#problematique {
    z-index: 400;
}

a {
    color: white;
}

a:hover {
  color: white;
  text-decoration: underline;
}

p {
    text-indent: 50px;
}

iframe {
    z-index: 1;
}
